*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width:80%;
  margin: 0 auto;
}
body{
  font-family: 'Manrope', sans-serif;
}

/*Main-section*/

#main-header .list-bar{
  display:flex;
  align-items:center;
}
#main-section{
  padding: 50px 0;
}
#main-header .flex{
  justify-content: space-between;
  align-items:center;
  padding: 20px 5px;
}

.list-order ul,li{
  margin-right:20px;
}
.assistance{
  display:flex;
  padding-left:20px;
}
.list-order ul{
  display:flex;
  list-style:none;
}
.list-bar .list-order{
  border-right: 2px solid #cccccc;
}
.assistance .logo-ass{
  margin-right:30px;
}

 #main-section .text-sec{
  width:45%;
  height: 100vh;
}

.right-hand{
  background: url("https://i.postimg.cc/pdKmjQ5C/Header-Image.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
  width:55%;
}

.flex{
  display:flex;
}
h1{
  font-size:48px;
}

.clock-sec{
  display:flex;
  align-items:center;
  margin-top:30px;
}
.clock-sec .clock-logo{
  margin-top: 10px;
}

.text-logo{
  padding-left:10px;
}

.orange-btn{
  padding: 10px 8px;
  background-color:#FF6433;
  border:1px;
  border-radius:5px;
  color:white;
  margin-top:30px;
}

/* Quote-section */

#quote-section {
  background: #E2E6E9;
  padding: 80px 0;
}

#quote-section .left-section{
  width:50%
}
#quote-section .right-form-section{
  width:40%
}

#quote-section ul {
  list-style: none;
}

#quote-section ul li {
  margin-bottom: 20px;
}

#quote-section .left-section h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

#quote-section .left-section .image-box {
  width: 5%;
  margin-right: 10px;
}

#quote-section .left-section .image-box img {
  width: 100%;
}


#quote-section .left-section .text-box {
  width: 50%;
}

#quote-section .left-section .text-box h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

#quote-section .left-section .text-box p{
  color: #1E1B1B;
  opacity: 0.6;
  font-size: 12px;
}

#quote-section .right-form-section h3{
  font-size: 30px;
  margin-bottom: 20px;
}

#quote-section .right-form-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
}

.text-box a{
  text-decoration: none;
  color: black;
}
span{
  padding-left:10px;
}

/* Service-section */
.flex{
  display:flex; 
}

#service-section{
  padding: 80px 0;
}

.left2 h4{
  font-size:50px;
}

.left2 p {
  margin-top: 20px;
}
#service-section .left2, #service-section .right{
  width:45%;
  margin:0 auto;
}
.vert{
  border-left: 2px dotted #FF6433;
  height:57px;
  margin-top:-85px;
  margin-left:4%;
  margin-bottom:1px;
}

#service-section p{
  color:#1E1B1B;
  opacity: 0.6;
}

.txt2-sec{
  margin-right:100px;
}

.txt2-sec p{
  margin-bottom:27px;

}
 .txt2-sec h2{
  margin-bottom: 8px;
}

#service-section .img-sec2 img{
  width:50%;
}

#service-section .left2, #service-section .right2{
  width: 48%;
}

#service-section ul {
  list-style: none;
}

.orange-btn{
  padding: 10px 8px;
  background-color:#FF6433;
  border:1px;
  border-radius:5px;
  color:white;
  margin-top:30px;
}

/*Offer-section*/

#offer-section{
  background-color: #F2F2F2;
  padding: 80px 0;
}
#offer-section .left3{
  text-align: center;
}
#offer-section .left3 h2{
  font-size: 50px;
  margin-bottom:30px;
}
#offer-section .left3 p{
  opacity:0.9;
}

.known{
  display: flex;
  justify-content: center;
  
}
.cont{
  background-color: white;
  width:220px;
  height:170px;
  margin: 3px;
}
.right4{
  text-align: center;
  padding: 40px;
}
.cont:hover{
  background-color:#FF6433;
}
.right3{
  text-align: center;
  padding: 40px;
  background-color: #FF6433;
  height:170px;
}
.ln{
  padding-left:750px;
  margin-bottom:25px;
  font-size: 12px;
}
span{
  width: 200px;;
}

/*Worshop*/
#workshop-section{
  background-color: #F2F2F2;;
}

.autos{
  display:flex;
}
.writ {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:80p 0x;
  background-color: #FF6433;
  color:white;
}
.writ h2{
  margin-top: 90px;
}

.blk-button{
  padding:23px 20px;
}

.blk-btn{
  padding:12px 17px;
  border:2px;
  border-radius: 5px;
  color:white;
  background-color: black;
  margin-right: 200px;
}

.flex2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kd{
  color:#661CE7;
  text-decoration: solid;
  font-size: 45px;
  font-weight: 750;
}
.numbers{
  margin-top: 20px;
}

/*Brands-section*/
#brands-section{
  margin-top: 70px;
  min-height: 60vh;
}
#brands-section h3{
  text-align: center;
  font-size: 40px;
}

#brands-section .bras .bras-box{
  
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
}


#brands-section .bras{
  flex-wrap: wrap;
}




/*Review-section*/
#review-section{
  padding: 80px 0;
  background: #F2F2F2;
  mix-blend-mode: multiply;
}

#review-section .partition{
  width: 100%;
  min-height:80vh;
  padding: 80px 80px;
  
}

#review-section .left-part{
  width:48%;
  background: #FFFFFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-sizing: border-box;
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  height:40vh;
  padding: 40px 40px;
  margin-right:30px;
}

#review-section .right-part{
  width:48%;
  background: #FFFFFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-sizing: border-box;
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  height:40vh;
  padding: 40px 40px;
}

#review-section ul{
  list-style: none;
  margin-right:10px;
}

#review-section .text-sec{
  text-align: center;
  font-size:35px;
  font-weight:700;
}

#review-section .flex{
  justify-content: center;
}

#review-section .flex ul,li{
  margin-right: 10px;
  padding-top:17px;
}


/*FAQ*/
#FAQ-section{
  background: #E2E6E9;
  padding:80px 0;
}
#FAQ-section .container{
  width:40%;
  margin: 0 auto;
}

#FAQ-section .txt-cont{
  text-align: center;
  margin-bottom: 50px;
}
.FAQ1-txt h6{
  color: #939191;
  margin-top: 10px;
  font-size: 11px;
  margin-right: 8px;
}

#FAQ-section .FAQ1{
  width:100%;
  padding: 33px;
  margin:5px;
  background-color:white;
  justify-content: space-between;
  align-items: center;
}

#FAQ-section .FAQ1 .FAQ-logo img{
  width:78%;
}

#FAQ-section .FAQ2{
  width:100%;
  padding: 28px;
  text-align: center;
  margin:5px;
  background-color:white;
  height:5px;
}

#FAQ-section .FAQ2 .FAQ-logo img{
  width: 50%;
}

#FAQ-section .FAQ2{
  justify-content: space-between;
  align-items: center;
}

/* Contact-section*/

#contact-section{
  padding:60px 0;
  background-color: #1E1B1B;
  color:#FFFFFF;
  height: 50vh;

}

#contact-section .overal-contact{
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
}

#contact-section .right-contact, #contact-section .left-contact{
  width:40%;
}

#contact-section .flex .overal-contact{
  justify-content: center;
  align-items:flex-start;
}

#contact-section .overal-contact .left-contact h3{
  font-size: 33px;
  margin-bottom:35px;
}

#contact-section .right-contact .jus-right .txt-right{
  margin-bottom: 30px;
}


#contact-section .right-contact .jus-right .txt-right .gy{
  color:#FFFFFF;
  opacity: 0.6;
}

.main-footer{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:center;
  padding: 20px 5px;
}

.list-bar{
  display:flex;
  align-items:center;
}

.list-order ul{
  display:flex;
  list-style:none;
  align-items: center;
  margin-bottom: 10px;
}

.list-order ul,li{
  margin-right:20px;
}

.assistance{
  display:flex;
  padding-left:20px;
}

#contact-section .nav-bar img{
  margin-right: 108px;
}

.assistance .gs{
  color:#939191;
}

 .main-footer{
  background: black;
  width:100% !important;

}



@media (max-width:426px) {
  html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


  .list-bar ul, .assistance{
    display: none;
  }

  .flex-sn{
    flex-direction: column;
  }

  #main-section .text-sec{
    width:100%;
    order: 2;
    max-height: 80vh;
  }

  h1{
    font-size: 38px;
  }

  .right-hand {
    width:100%;
    order: 1;
  }
  
  #main-section{
    padding-bottom: 0;
  }


  
#offer-section .left3 p{
  font-size: 10px;
}

  #quote-section .left-section{
    width: 100%;
  }
  #quote-section .left-section .text-box{
    width:100%;
  }
  #quote-section .left-section .image-box img{
    width:130%;
  }
  #quote-section .left-section h2{
    font-size: 35px;
  }

  #quote-section .right-form-section{
    width: 100%;
  }

  #quote-section .right-form-section h3{
    font-size: 20px;
  }


  #service-section .left2, #service-section .right2{
    width:100%;
  }
  #service-section .left2{
    margin-bottom: 30px;
  }
  .left2 h4 {
    font-size: 29px;
  }
  .left2 p {
    font-size: 13px;
  }
  .txt2-sec{
    margin-right: 0px;
  }

  #service-section p{
    font-size: 13px;
  }

  .txt2-sec h2{
    font-size:1.1rem;
  }

  #service-section .img-sec2 img{
    margin-right: 0px;
  }

  /* Offer-section */
  #offer-section .left3 h2{
    font-size: 28px;
  }
  .known {
    flex-wrap: wrap;
    
  }

  .writ h2{
    font-size: 1rem;
  }

  .blk-btn{
    margin-right: 5px;
    border-radius: 5px;
  }

  .kd{
    font-size: 25px;
  }

  .numbers{
    font-size: 9px;
  }

  .text-sec h2{
    font-size: 28px;
  }


  #review-section .left-part, #review-section .right-part{
    width:100%;
    
  }

  #review-section .left-part .img-p img{
    font-size: 10px;
  }

  #review-section .right-part{
    margin-top: 15px;
    height:200px;
  }


  .left-part img{
    font-size: small;
  }

   p{
    font-size: 10px;
    margin-top: 13px;
  }
  #review-section .partition{
    padding: 0px;
  }
  #review-section .text-sec{
    margin-bottom: 20px;
  }


  .txt-cont h2{
    font-size: 1.1rem;
  }

  #FAQ-section .container{
    width: 80%;
  }

  .FAQ1-txt h5{
    text-align: left;
    font-size: 11px;
  }
  .FAQ1-txt h6{
    font-size: 7px;
  }


  #contact-section .right-contact, #contact-section .left-contact{
    width: 100%;
  }

  #contact-section .right-contact{
    background-color: #1E1B1B;
  }

  #contact-section .list-bar ul, #contact-section .assistance{
    display: block;
  }

 #contact-section .list-bar .list-order{
   border: none;
 }
  #contact-section{
    height:100vh;
  }
  #contact-section .assistance .gs{
    margin-right: 50px;
    font-size: 12px;
    margin-top: 20px;
  }

  #contact-section .jus-right{
    margin: 20px;
    margin-left: 20px;
  }
  #contact-section .nav-bar img {
    margin-right: 60px;
}

  #brands-section .bras .bras-box{
    width: 100%;
    margin: auto;
  }
  
}
